<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../static/static.css" rel="stylesheet">
</head>
<body>
<section class="points" id="points_page">
    <pre class="caption-text" id="animatedGreeting"></pre>
    <br/>
    <div id="points">
        <div class="toggle-container">
            <div class="toggle-button" id="toggleButton">
                <div class="toggle-circle"></div>
                <p style="padding: 0 3px 0 3px">Город</p>
            </div>
        </div>
        <div class="post_form active" id="by_town">
            <form method="POST" onsubmit="sendData()">
                <div class="form" id="by_town_div">
                    <input name="locations" value="" id='values_town' type="hidden">
                    <div>
                        <input type="text" id="point_from" name="point_from" placeholder="Откуда" required>
                        <label for="point_from">Название точки отправления</label>
                    </div>
                    <div id="new_point">
                        <button onclick="add_point_city()" class="submit" style="margin-bottom: 15px">+</button>
                        <br/>
                    </div>
                    <div>
                        <input type="text" id="point_to" name='point_to' placeholder="Куда" required>
                        <label for="point_to">Название конечной точки </label>
                    </div>
                </div>
                <div class="container">
                    <p>Выберите количество дней для прогноза погоды</p>
                    <input name="days" type="range" id="slider" min="1" max="5" value="3" step="1">
                    <p>Вы выбрали: <span id="value">3</span></p>
                </div>
                <button class="submit" type="submit">Посчитать</button>
            </form>
        </div>
        <div class="post_form" id="by_coords">
            <form method="POST" onsubmit="sendData_coords()">
                <div class="form" id="by_coords_div">
                    <input name="locations" value="" id='values_coords' type="hidden">
                    <div>
                        <input type="text" id="coords_from" name="coords_from" placeholder="Широта, долгота" required>
                        <label for="point_from">Координаты точки отправления</label>
                    </div>
                    <div id="new_coords">
                        <button onclick="add_coords_city()" class="submit" style="margin-bottom: 15px">+</button>
                        <br/>
                    </div>
                    <div>
                        <input type="text" id="coords_to" name='coords_to' placeholder="Широта, долгота" required>
                        <label for="point_to">Координаты конечной точки </label>
                    </div>
                </div>
                <div class="container">
                    <p>Выберите количество дней для прогноза погоды</p>
                    <input name="days" type="range" id="slider2" min="1" max="5" value="3" step="1">
                    <p>Вы выбрали: <span id="value2">3</span></p>
                </div>
                <button class="submit" type="submit">Посчитать</button>
            </form>
        </div>
    </div>
</section>
<div id="error" style="width: 100%; text-align: center">
    {% if error_message %}
        <h4>{{ error_message }}</h4>
    {% endif %}
</div>
</body>
<script>
    let point_counter = 0
    let coords_counter = 0
    const animatedGreeting = document.getElementById('animatedGreeting');
    const textToGreeting = "Добро пожаловать в сервис планирования маршрутов! \n \nВыберите тип ввода, чтобы узнать погоду:";

    function animateText(text, element, speed = 50) {
        element.textContent = '';
        let index = 0;
        const interval = setInterval(() => {
            element.textContent += text[index];
            index++;
            if (index >= text.length) {
                clearInterval(interval);
                document.getElementById('points').classList.add('active');
            }
        }, speed);
    }

    document.addEventListener('DOMContentLoaded', () => {
        animateText(textToGreeting, animatedGreeting, 35);
    });


    const form1 = document.getElementById("by_town");
    const form2 = document.getElementById("by_coords");
    const toggleButton = document.getElementById("toggleButton");
    let isCity = true;
    toggleButton.addEventListener("click", () => {
        isCity = !isCity;
        toggleButton.classList.toggle("active");
        toggleButton.style.width = isCity ? '160px' : '160px';
        toggleButton.style.justifyContent = isCity ? 'center' : 'left';
        const textElement = toggleButton.querySelector('p');
        textElement.classList.add('hidden');

        setTimeout(() => {
            textElement.textContent = isCity ? 'Город' : 'Координаты';
            textElement.classList.remove('hidden');
        }, 300);
        form1.classList.toggle("active");
        form2.classList.toggle("active");
    });

    function add_point_city() {
        point_counter++
        let parent = document.getElementById('by_town_div');
        const new_input = document.createElement('div');
        const new_button = document.getElementById('new_point')
        new_input.innerHTML = `
            <input type="text" id="point_middle_${point_counter}" name='intermediate_points' required>
                <label for="point_middle_${point_counter}">Название промежуточной точки </label>
        `;

        parent.insertBefore(new_input, new_button);
    }

    function sendData() {
        let data = document.getElementById('values_town')
        const startPoint = document.getElementById('point_from').value.trim();
        const endPoint = document.getElementById('point_to').value.trim();
        const intermediatePoints = document.querySelectorAll('[name="intermediate_points"]');
        const locations = [startPoint];
        intermediatePoints.forEach(point => {
            if (point.value.trim()) {
                locations.push(point.value.trim());
            }
        });
        locations.push(endPoint)

        data.value = locations.join('\n');

    }

    const slider = document.getElementById('slider');
    const valueDisplay = document.getElementById('value');

    slider.addEventListener('input', function () {
        valueDisplay.textContent = slider.value;
    });

    const slider2 = document.getElementById('slider2');
    const valueDisplay2 = document.getElementById('value2');

    slider2.addEventListener('input', function () {
        valueDisplay2.textContent = slider2.value;
    });

    function add_coords_city() {
        coords_counter++
        let parent = document.getElementById('by_coords_div');
        const new_input = document.createElement('div');
        const new_button = document.getElementById('new_coords')
        new_input.innerHTML = `
            <input type="text" id="point_middle_${coords_counter}" name='intermediate_points' required>
                <label for="point_middle_${coords_counter}">Координаты промежуточной точки </label>
        `;

        parent.insertBefore(new_input, new_button);
    }

    function sendData_coords() {
        let data = document.getElementById('values_coords')
        const startPoint = document.getElementById('coords_from').value.trim();
        const endPoint = document.getElementById('coords_to').value.trim();
        const intermediatePoints = document.querySelectorAll('[name="intermediate_points"]');
        const locations = [startPoint];
        intermediatePoints.forEach(point => {
            if (point.value.trim()) {
                locations.push(point.value.trim());
            }
        });
        locations.push(endPoint)

        data.value = locations.join('\n');
    }


</script>

</html>