<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../static/static.css" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<style>
</style>
<body>
<a href="{{ url_for('index') }}" style="text-decoration: none">
    <button type="button">Вернуться обратно</button>
</a>
<section class="weather" id="weather_page">
    {% if error %}
        <h4> {{ error }}</h4>
    {% else %}
        <div class="city-blocks">
            {% for graph in graphs %}
                <div class="city-block">
                    <h2>{{ graph.location }}</h2>
                    <div class="graph-container">
                        <div id="{{ graph.location }}-temp"></div>
                        <script>
                            Plotly.react('{{ graph.location }}-temp', {{ graph.temp_graph | safe }});
                        </script>
                        <div id="{{ graph.location }}-precip"></div>
                        <script>
                            Plotly.react('{{ graph.location }}-precip', {{ graph.precip_graph | safe }});
                        </script>
                        <div id="{{ graph.location }}-wind"></div>
                        <script>
                            Plotly.react('{{ graph.location }}-wind', {{ graph.wind_graph | safe }});
                        </script>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="map-container">
            <h2>Маршрут на карте:</h2>
            <div id="route-map"></div>
            <script>
                Plotly.react('route-map', {{ map_json | safe }});
            </script>
        </div>
    {% endif %}
</section>
</body>
</html>